.nav-bar{
    position: sticky;
    display: flex;
    width: 100%;;
    height: 6vh;
    justify-content: center;
    margin: 0 4vh;
}

.nav-button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #6f736f;
}

.selected{
    border-bottom: 0.2rem solid var(--accent1);
    font-size: 2rem;
    color: var(--secondary);
}