.element{
    border-radius: 3rem;
    height: auto;
    width: 30rem;
}

#todays-tasks {
    float: right;
    margin-top: 10rem;
}

.tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1%;
    gap: 1rem;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    height: 2.5rem;
    background-color: var(--accent1_dark);
    border-radius: 1.5rem;
}

.task-heading {
    margin-left: 0.8rem;
    font-size: 1rem;
    color: var(--secondary);
    font-weight: bold;
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.check {
    margin-left: 1rem;
}