.element{
    background-color: rgba(163, 162, 162, 0);
    padding: 0 2vw;
    border-radius: 3rem;
    height: auto;
    min-height: 30vh;
    border: 1rem  double black;
}

.list:focus-within{
    border: 0.2rem solid #000000;
}

.list:focus-within input {
    display: block;
}

.list:focus-within .text {
    display: none;
}


.list input {
    display: none;
    accent-color: black;
    font-size: 18px;
}

.tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.task{
    display: flex;
    align-content: center;
    width: 100%;
    min-height: 3vh;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #ffffff00;
    text-wrap: stable;
}